body{
    background-color:#6463c5;
}
.container{
    width: 50%;
    margin: auto;
}
#h1{
    text-align: left;
}
#p1{
    font-size: 20px;
    text-align: left;
}
#pick{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #2a2885;
    color: rgb(77, 14, 14);
    font-size: 20px;
    cursor: pointer;
}

#user-content{
    text-align: left;
    padding-top: 10px;
}